@model IEnumerable<BrConselhosProva.WebApp.Models.TeacherListViewModel>

@{
    ViewBag.Title = "Lista de Professores";
}

<h2>Lista de Professores</h2>

<p>
    @Html.ActionLink("Novo Professor", "Create")
    @Html.ActionLink("Filtro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentCount)
        </td>
        <td>
            @Html.ActionLink("Deletar", "Delete", new {  id=item.Id  })
        </td>
    </tr>
}

</table>
